.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sidebar{
    width: 10%;
}

.sidebar div{
    position: fixed;
    width: 10%;
}

.Interval{
    margin-top: 3%;
}

.Interval1{
    margin-top: 7%;
    background-color: black;
}

.Interval2{
    margin-top: 11%;
}

.menu{
    font-size: 1vw;
    margin-left: 10%;
}

.select{
    color: white;
}
.main{
    width: 90%;
    border-left: 3px solid black;
}

.mypage_wrap{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mypage{
    font-size: 300%;
    margin: 1%;
}



.search{
    position: relative;
    width: 10%;
    margin-right: 3%;
}

.search_input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 2%;
  font-size: 14px;
}

.search_img {
  position : absolute;
  width: 15px;
  top: 20%;
  right: 0;
  cursor: pointer;
}

.dropdown{
    position: absolute;
    display: inline-block;
    padding: 0.2%;
    border: 1px solid black;
    margin-top: 3%;
    padding: 2%;
    border-radius: 10px;
}

.tag_select{
    display : none;
    position : absolute;
    z-index : 1;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 350%;
}

.tag_select div{
    display: block;
    margin-top: 10px;
}

.dropdown:hover .tag_select{
    display: block;
}

.space{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    border-bottom: 1px solid black;
}

.left{
    display: flex;
}

.img_wrap{
    width: 23%;
}

.my_img{
    object-fit: contain;
    width: 100%;
}

.my_photo{
    margin-left: 1%;
    margin-top: 1%;
    font-size: 1.5vw;
}

.title, .comment{
    font-size: 1.2vw;
}

.down{
    font-size: 1vw;
    border:  1px solid black;
    border-radius: 20px;
}

.down:hover{
    background-color: black;
    color: white;
}

