.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.search_wrap{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 1%;
    margin-left: -1%;
}

.search{
    position: relative;
    width: 35vw;
}

.search_input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
}

.search_img {
  position : absolute;
  width: 15px;
  top: 30%;
  right: 0;
  margin: 0;
  cursor: pointer;
}

.menu_wrap{
    margin-top: 1%;
    margin-left: 1%;
}

.menu{
    display: none;
}

.menu+label{
    display: block;
    width: 50px;
    height: 25px;
    left: 0%;
    position: relative;
    cursor: pointer;
    transition: all .35s;
}

.menu+label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: black;
    transition: all .35s;
}

.menu+label span:nth-child(1){
    top: 0;
}

.menu+label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

.menu+label span:nth-child(3){
    bottom: 0;
}

.menu:checked +label{
    left: 200px;
}

.menu:checked +label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    z-index: 2;
}

.menu:checked +label span:nth-child(2){
    opacity: 0;
}

.menu:checked +label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    z-index: 2;
}

.sidebar{
    border: 1px solid black;
    width: 300px;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: -330px;
    transition: all .35s;
    z-index: 1;
}

.sidebar div{
    margin-left: 10%;
}

.tag_title{
    font-size: 200%;
    margin-top: 10%;
}

.tag{
    margin-top: 10%;
    margin-left: 10%;
}

.menu:checked+label+div{
    left: -25px;
}

.tag_wrap{
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.tag_wrap span{
    border: 1px solid black;
    border-radius: 300%;
    width: 4%;
    font-size: 120%;
    text-align: center;
    padding: 0.1%;
}

.picture{
    width: 95%;
    margin-left: 3%;
    margin-top: 2%;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 200%;
}