<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pictures</title>
    <link rel="stylesheet" href="header/header.css">
    <link rel="stylesheet" href="search/search.css">
    <script defer src="search/search.js"></script>
</head>
<body>
    <%- include('header.ejs') %>
    <hr class="split">
    <form method="post" action="/search">
        <div class="container">
            <span class="menu_wrap">
                <input type="checkbox" class="menu" id="menuicon">
                <label for="menuicon">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <div class="sidebar">
                    <div class="tag_title">Tag</div>
                    <div><input class="tag" type="checkbox" name="tags" value="Human" onclick="tag(this)">Human</div>
                    <div><input class="tag" type="checkbox" name="tags" value="Baby" onclick="tag(this)">Baby</div>
                    <div><input class="tag" type="checkbox" name="tags" value="Animal" onclick="tag(this)">Animal</div>
                    <div><input class="tag" type="checkbox" name="tags" value="Nature" onclick="tag(this)">Nature</div>
                    <div><input class="tag" type="checkbox" name="tags" value="Universe" onclick="tag(this)">Universe</div>
                    <div><input class="tag" type="checkbox" name="tags" value="City" onclick="tag(this)">City</div>
                    <div><input class="tag" type="checkbox" name="tags" value="Place" onclick="tag(this)">Place</div>
                    <div><input class="tag" type="checkbox" name="tags" value="Building" onclick="tag(this)">Building</div>
                    <div><input class="tag" type="checkbox" name="tags" value="Food" onclick="tag(this)">Food</div>
                    <div><input class="tag" type="checkbox" name="tags" value="Other" onclick="tag(this)" >Other</div>
                </div>
            </span>
            <span class="search_wrap">
                <div class="search">
                    <input class="search_input" type="text" placeholder="search" name="search">
                    <a href="search.ejs"><button type="submit"><img class="search_img" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></button></a>
                </div>
            </span>
            <span></span>
        </div>
      </form>
    <div class="tag_wrap" id="tag_wrap"></div>
    <div class="sorting_wrap">
        <% if(sort == 2){ %>
        <form method="post" action="/sort2">
            <label for="sorting">정렬:</label>
            <select name="sorting" id="sorting">   
              <option value="최신순">최신순</option>
              <option value="인기순">인기순</option>
            </select>
            <input type="submit" value="정렬 적용">
          </form>
        <%}else if(sort==1){%>
            <form method="post" action="/sort2">
                <label for="sorting">정렬:</label>
                <select name="sorting" id="sorting">   
                  <option value="인기순">인기순</option>
                  <option value="최신순">최신순</option>
                </select>
                <input type="submit" value="정렬 적용">
            </form>
        <%}else{%>
            <form method="post" action="/sort2">
                <label for="sorting">정렬:</label>
                <select name="sorting" id="sorting">   
                  <option value="최신순">최신순</option>
                  <option value="인기순">인기순</option>
                </select>
                <input type="submit" value="정렬 적용">
            </form>
        <%}%>
      </div>
    <table>
    <% if (photo && photo.length > 0) { %>
        <% for (let i = 0; i < photo.length; i += 4) { %>
        <tr>
            <% for (let j = i; j < i + 4 && j < photo.length; j++) { %>
            <td class="picture_wrap">
                <a href="/photos/<%=photo[photo.length-1-j].img_no%>"><img class="picture" src="<%= photo[photo.length-1-j].img%>"></a>
                <div class="title"><%= photo[photo.length-1-j].title %></div>
            </td>
            <% } %>
        </tr>
        <% } %>
    <% }else if(data==1){ %>
        <tr>
            <td colspan="4">선택한 태그에 해당하는 사진이 없습니다.</td>
        </tr>
    <% } else { %>
        <tr>
            <td colspan="4">No data available</td>
        </tr>
    <% } %>
    </table>
</body>
</html>