.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.member{
    border: 3px solid black;
    border-radius: 20px;
    width: 40vw;
    height: 700px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 20vw;
}

.wrap{
    margin-top: 5%;
    position: relative;    
}

.wrap div{
    position: absolute;
    right: 0;
    margin-right: 40%;
}

.wrap div span{
    font-size: 2vw;
    white-space: nowrap;
}


.input input{
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    font-size: 100%;
}

.submit{
    margin-bottom: 5%;
    margin-right: 3%;
}

.submit button{
    border: 1px solid black;
    border-radius: 15px;
    font-size: 200%;
    float: right;
    cursor: pointer;
}

.submit button:hover{
    background-color: black;
    color: white;
}