.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sidebar{
    width: 10%;
}

.sidebar div{
    position: fixed;
    width: 10%;
}

.Interval{
    margin-top: 3%;
    background-color: black;
}

.Interval1{
    margin-top: 7%;
}

.Interval2{
    margin-top: 11%;
}

.menu{
    font-size: 1vw;
    margin-left: 10%;
}

.select{
    color: white;
}
.main{
    width: 90%;
    border-left: 3px solid black;
}

.mypage_wrap{
    border-bottom: 1px solid black;
}

.mypage{
    font-size: 300%;
    margin: 1%;
}

.space{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    border-bottom: 1px solid black;
}

.left{
    display: flex;
}

.img_wrap{
    width: 23%;
}

.my_img{
    object-fit: contain;
    width: 100%;
}

.my_photo{
    margin-left: 1%;
    margin-top: 1%;
    font-size: 1.5vw;
}

.title, .comment{
    font-size: 1.2vw;
}